<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>প্রশিক্ষণার্থীর নাম ও পিতা/স্বামীর নাম</th>
        <th>গ্রাম ও ব্লক</th>
        <th>মোবাইল নম্বর (যদি থাকে)</th>
        <th>জাতীয় পরিচয়পত্র নম্বর</th>
        <th>কৃষি উপকরণ কার্ডের নং</th>
        <th>প্রশিক্ষণের বিষয়</th>
        <th>প্রশিক্ষণ শুরুর তারিখ</th>
        <th>প্রশিক্ষণ সমাপ্তির তারিখ</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        <th>মন্তব্য করুন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index) { %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.name %></td>
                <td><%= row.vname %></td>
                <td><%= row.mnum %></td>
                <td><%= row.nid %></td>
                <td><%= row.card%></td>
                <td><%= row.topic%></td>
                <td><%= row.date %></td>
                <td><%= row.finishDate %></td>
                <td><%= row.ddComment %></td>
                <td><%= row.pdComment %></td>
                <td><a class="btn btn-primary btn-xs" href="/pd/trainedFarmerEdit/<%= row.id %>"><i class="fa fa-edit"></i></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্রমিক নং</th>
            <th>প্রশিক্ষণার্থীর নাম ও পিতা/স্বামীর নাম</th>
            <th>গ্রাম ও ব্লক</th>
            <th>মোবাইল নম্বর (যদি থাকে)</th>
            <th>জাতীয় পরিচয়পত্র নম্বর</th>
            <th>কৃষি উপকরণ কার্ডের নং</th>
            <th>প্রশিক্ষণের বিষয়</th>
            <th>প্রশিক্ষণ শুরুর তারিখ</th>
        <th>প্রশিক্ষণ সমাপ্তির তারিখ</th>
            <th>উপ-পরিচালকের মন্তব্য</th>
            <th>প্রকল্প পরিচালকের মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>