<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>জেলার নাম</th>
        <th>উপজেলার নাম</th>
        <th>প্রদর্শিত বুথ/স্টলের সংখ্যা</th>
        <th>প্রদর্শিত প্রযুক্তিসমূহ</th>
        <th>উদ্বোধকের নাম ও পদবী</th>
        <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        <th>মন্তব্য করুন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.district %></td>
                <td><%= row.upazilla %></td>
                <td><%= row.booth %></td>
                <td><%= row.technology %></td>
                <td><%= row.name%></td>
                <td><%= row.comment %></td>
                <td><%= row.ddComment %></td>
                <td><%= row.pdComment %></td>
                <td><a class="btn btn-primary btn-xs" href="/pd/agriFairEdit/<%= row.id %>"><i class="fa fa-edit"></i></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্রমিক নং</th>
            <th>জেলার নাম</th>
            <th>উপজেলার নাম</th>
            <th>প্রদর্শিত বুথ/স্টলের সংখ্যা</th>
            <th>প্রদর্শিত প্রযুক্তিসমূহ</th>
            <th>উদ্বোধকের নাম ও পদবী</th>
            <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
            <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>