<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>জেলার নাম</th>
        <th>উপজেলার নাম</th>
        <th>কৃষি যন্ত্রপাতির নাম</th>
        <th>কৃষি যন্ত্রপাতির সংখ্যা</th>
        <th>কৃষক সংগঠনের নাম</th>
        <th>উপকারভোগী কৃষকের/কৃষাণির নাম ও পিতা/স্বামীর নাম </th>
        <th>গ্রাম/ব্লক</th>
        <th>মোবাইল নম্বর</th>
        <th>বিতরণের তারিখ</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        <th>মন্তব্য করুন</th>
        
        
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.district %></td>
                <td><%= row.upazilla %></td>
                <td><%= row.machine %></td>
                <td><%= row.shongothon %></td>
                <td><%= row.number %></td>
                <td><%= row.farmer %></td>
                <td><%= row.village %></td>
                <td><%= row.mobile %></td>
                <td><%= row.bitoron %></td>
                <td><%= row.ddComment %></td>
                <td><%= row.pdComment %></td>
                <td><a class="btn btn-primary btn-xs" href="/dd/machineryEdit/<%= row.id %>"><i class="fa fa-edit"></i></a></td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্রমিক নং</th>
        <th>জেলার নাম</th>
        <th>উপজেলার নাম</th>
        <th>কৃষি যন্ত্রপাতির নাম</th>
        <th>কৃষি যন্ত্রপাতির সংখ্যা</th>
        <th>কৃষক সংগঠনের নাম</th>
        <th>উপকারভোগী কৃষকের/কৃষাণির নাম ও পিতা/স্বামীর নাম </th>
        <th>গ্রাম/ব্লক</th>
        <th>মোবাইল নম্বর</th>
        <th>বিতরণের তারিখ</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>