<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ক্রমিক নং</th>
        <th>কৃষকের/কৃষাণির নাম ও পিতা/স্বামীর নাম</th>
        <th>গ্রাম ও ব্লক</th>
        <th>কৃষকের/কৃষাণির মোবাইল নম্বর</th>
        <th>ব্যবহৃত জাত</th>
        <th>বপন/রোপন/স্থাপনের তারিখ </th>
        <th>ফসল কর্তনের তারিখ</th>
        <th>উৎপাদন মেট্রিক মেট্রিক টন/হেঃ</th>
        <th>চূড়ান্ত সংরক্ষিত বীজের পরিমাণ</th>
        <th>কৃষকের/কৃষাণির মন্তব্য</th>
        <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        <th>পরিবর্তন</th>
    </tr>
    </thead>
    <tbody>
        <% records.forEach(function(row,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= row.name %></td>
                <td><%= row.vname %></td>
                <td><%= row.mnum %></td>
                <td><%= row.breedname %></td>
                <td><%= row.trialdate %></td>
                <td><%= row.cdate %></td>
                <td><%= row.production %></td>
                <td><%= row.bij %></td>
                <td><%= row.fcomment %></td>
                <td><%= row.kcomment %></td>
                <td><%= row.ddComment %></td>
                <td><%= row.pdComment %></td>
                <td><a class="btn btn-primary btn-xs" href="/upazilla/finalTrialEdit/<%= row.id %>"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>ক্রমিক নং</th>
        <th>কৃষকের/কৃষাণির নাম ও পিতা/স্বামীর নাম</th>
        <th>গ্রাম ও ব্লক</th>
        <th>কৃষকের/কৃষাণির মোবাইল নম্বর</th>
        <th>ব্যবহৃত জাত</th>
        <th>বপন/রোপন/স্থাপনের তারিখ </th>
        <th>ফসল কর্তনের তারিখ</th>
        <th>উৎপাদন মেট্রিক মেট্রিক টন/হেঃ</th>
        <th>চূড়ান্ত সংরক্ষিত বীজের পরিমাণ</th>
        <th>কৃষকের/কৃষাণির মন্তব্য</th>
        <th>উপজেলা কৃষি অফিসারের মন্তব্য</th>
        <th>উপ-পরিচালকের মন্তব্য</th>
        <th>প্রকল্প পরিচালকের মন্তব্য</th>
        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>